
table {
    border: 1px solid #D5D5D5;
    border-collapse: collapse;
}

th {
    border: 1px solid #D5D5D5;
    width: 100px;
    height: 40px;

    background-color: #DEDEDE;
    color: black;
}

td {
    width: 100px;
    height: 40px;
    margin: 0 0 0 0;
    padding: 0 0 0 0;

    border: 1px solid #D5D5D5;
}
td input {
    width: 100px;
    height: 40px;
    margin: 0 0 0 0;
    border: none;

    font-size: 30px;
}


#button_export {
    background-color: #08AB47;
    color: white;
    font-size: 20px;
    padding: 10px 10px 10px 10px;
    margin-bottom: 10px;
    cursor: pointer;
    border: none;

    transition: background-color 0.3s linear;
}

#button_export:hover {
    background-color: #80ab87;
}